Loading Data:

In [135]:
import pandas as pd

# Load the Excel file into a DataFrame
data = pd.read_excel("Survey_ICS487_Project.xlsx")

Data Inspection:

In [136]:
# Check the first few rows
print(data.head())

# Get an overview of the data
print(data.info())

# Check for missing values
print(data.isnull().sum())

    Name  Salary (SAR)  Age    State     Sex  Monthly Debt (SAR)  \
0  feras          4162   24  Married  Female              870.98
1   Rami         34361   50  Married  Female             5685.48
2   Amal          2084   22   Single  Female              323.70
3   Nada          4288   18  Married  Female              156.89
4   Saud          7192   22  Married  Female              370.77

   Elementary Expenses (SAR)     Goal  Number of Children Employment_Status  \
0                    4660.09  Savings                   4           Student
1                   12431.05  Savings                   4          Employed
2                    1148.82  Savings                   0           Student
3                   12621.10  Savings                   4           Student
4                    7946.80  Savings                   5          Employed

  Nationality Budgeting_Rule
0       Saudi       50/30/20
1       Saudi       50/30/20
2       Saudi       70/20/10
3       Saudi       50/30/20
4       Saudi       50/30/20
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Name                       523 non-null    object
 1   Salary (SAR)               523 non-null    int64
 2   Age                        523 non-null    int64
 3   State                      523 non-null    object
 4   Sex                        523 non-null    object
 5   Monthly Debt (SAR)         523 non-null    float64
 6   Elementary Expenses (SAR)  523 non-null    float64
 7   Goal                       523 non-null    object
 8   Number of Children         523 non-null    int64
 9   Employment_Status          523 non-null    object
 10  Nationality                523 non-null    object
 11  Budgeting_Rule             523 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 49.2+ KB
None
Name                         0
Salary (SAR)                 0
Age                          0
State                        0
Sex                          0
Monthly Debt (SAR)           0
Elementary Expenses (SAR)    0
Goal                         0
Number of Children           0
Employment_Status            0
Nationality                  0
Budgeting_Rule               0
dtype: int64

Clean and Preprocess:

In [137]:
# Standardize column names
data.columns = [col.strip().lower().replace(" ", "_") for col in data.columns]

# Check for duplicates and remove them
data = data.drop_duplicates()

# Handle missing values (drop rows or fill them as needed)
data = data.dropna()  # Drop rows with missing values
# Alternatively, fill missing values (example: fill salary with median)
data['salary_(sar)'] = data['salary_(sar)'].fillna(data['salary_(sar)'].median())

# Ensure numeric columns are properly formatted
numeric_columns = ['salary_(sar)', 'age', 'monthly_debt_(sar)', 'elementary_expenses_(sar)']
for col in numeric_columns:
    data[col] = pd.to_numeric(data[col], errors='coerce')

# Validate ranges for numeric columns
data = data[(data['age'] >= 18) & (data['age'] <= 100)]  # Age should be between 0 and 100
data = data[data['salary_(sar)'] >= 0]  # Salary should not be negative

# Filter for Saudi individuals
data = data[data['nationality'].str.lower() == 'saudi']

# Drop the 'nationality' column
data = data.drop(columns=['nationality'])

Removing outliers:

In [138]:
import numpy as np

def remove_outliers_iqr(df, column):
    """
    Removes outliers from a column using the IQR method.
    """
    Q1 = df[column].quantile(0.25)  # First quartile
    Q3 = df[column].quantile(0.75)  # Third quartile
    IQR = Q3 - Q1  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Apply to numeric columns with potential outliers
numeric_columns = ['salary_(sar)', 'age', 'monthly_debt_(sar)', 'elementary_expenses_(sar)']
for col in numeric_columns:
    data = remove_outliers_iqr(data, col)


# Define age bins and labels
age_bins = [0, 24, 34, 44, 54, float('inf')]
age_labels = ['18-24', '25-34', '35-44', '45-54', '55+']

# Create a new column for age groups
data['age_group'] = pd.cut(data['age'], bins=age_bins, labels=age_labels, right=True)

data = data.drop(columns=['age'])

Encoding Categorical Variables:

In [139]:
from sklearn.preprocessing import LabelEncoder

# One-hot encode categorical columns
categorical_columns = ['state', 'sex', 'goal', 'employment_status']
data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

# Encode the age_group using LabelEncoder
label_encoder = LabelEncoder()
data['age_group_encoded'] = label_encoder.fit_transform(data['age_group'])

# Display the encoding
print("Age Group Encoding:")
for label, encoded in zip(label_encoder.classes_, range(len(label_encoder.classes_))):
    print(f"{label}: {encoded}")

data = data.drop(columns=['age_group'])

Age Group Encoding:
18-24: 0
25-34: 1
35-44: 2
45-54: 3
55+: 4

Feature Engineering:

In [140]:
# Create new features
data['debt_to_income_ratio'] = data['monthly_debt_(sar)'] / data['salary_(sar)']
data['savings_ratio'] = data['elementary_expenses_(sar)'] / data['salary_(sar)']

# Handle infinite or NaN values due to division
data['debt_to_income_ratio'] = data['debt_to_income_ratio'].replace([np.inf, -np.inf], np.nan).fillna(0)
data['savings_ratio'] = data['savings_ratio'].replace([np.inf, -np.inf], np.nan).fillna(0)

# Drop irrelevant columns
data = data.drop(columns=['name'])

Saving Data:

In [141]:
# Save cleaned data to a new Excel file
data.to_excel("Cleaned_Survey_ICS487_Project.xlsx", index=False)

# Or save it as a CSV file
data.to_csv("Cleaned_Survey_ICS487_Project.csv", index=False)